aside {
  height: 480px;
  width: 200px;
  float: left;
  background-color: cornflowerblue;
}
.box {
  height: 160px;
}
.box1 {
  background-color: crimson;
  float: left;
  width: 400px;
}
footer {
  background-color: darkolivegreen;
  height: 160px;
}
